.card{
    img{
       // height:15rem;;
    }
}

.card-deck{
    margin-top:$card_deck_margin_top;
    
}

@mixin func($var){
    height:$var;
}

.card{
    background-color: rgb(92, 92, 61);
    //text-decoration-color: white;
    p{
        color:white;
    }
    img{
       // height:15rem;
       @include func(15rem);
    }
}

