.navbar{
    position: $position_nav;
    z-index: $z_index_nav;
    width: $width_navbar;
    background-color:rgba(139, 139, 25, 0.6)
}

nav{
    background-color:rgba(139, 139, 25, 0.6)
}

.pagi{
    margin-top: 2rem;
}