$blue: green;
$height_card_img:15rem;
$width_navbar:100%;
$carousel_item_img:670px;
$z_index_nav:9999;
$position_nav:fixed;
$background-color_jumbotron:rgb(92, 92, 61);
$color_jumbotron:white;
$card_deck_margin_top:2rem;
$black_color:black;


